*{
       margin: 0px;
} 

body:not(.navclass)
{
    background-color: #1e1e1e;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    /* line-height: 34px; */
}

.navclass{
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:flex-end;
    column-gap: 50px;
    align-items: center;
    background-color: #FCAF02;
}

nav a{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}

#start{
   margin-right:450px;
}

#last{
    margin-right: 78px;
}

#loginbtn{
    background-color: #FCAF02;
    border-radius: 40px;
    font-weight: 400;
    size: 22px;
    padding: 10px 45px;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}

.main {
    margin-top: 30px;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}

#cont{
    margin-left: 30px;
    color:#FFFFFF;
}

#img{
    margin-right: 30px;
}

input{
    border-radius: 100px;
    padding: 10px;
    width: 94%;
    margin-left: 20px;
    border:2px solid #FCAF02;
    outline: none;
    color: #FCAF02;
    background-color: #1e1e1e;
}

.submit{
        display: block;
        margin: auto;
        background-color: #FCAF02;
        padding: 10px 20px;
        border-radius: 50px;
        font-weight: bold;
        font-size: 20px;
        color: black;
        cursor: pointer;
      }

table, tr.fir,.bor {
    border: 2px solid #FCAF02;
    border-collapse: collapse;
    color: #FCAF02;
    font-size: 28px;
    font-weight: 400;
}



.table{
    position: relative;
    bottom: 40px;
    margin-left: 25px;
}

td:nth-child(1)
{
   text-align: center;
}

td:nth-child(2){
   position: relative;
   left: 20px;
}

td:nth-child(3){
    position: relative;
    left: 20px;
 }

      
